@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
.card-header,
.potluckHeader,
.nav-item,
.nav-link {
  font-family: "Noto Sans KR" !important;
  font-weight: 600;
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.card-header,
.potluckHeader {
  color: rgb(36, 36, 36)
}

.navbar-button,
.nav-item a,
.nav-link {
  color: rgba(255, 255, 255, 0.774) !important;
  text-decoration: none;
  font-weight: 400;
  z-index: 5
  
}

@media only screen and (min-width: 768px) {
  .collapsing {
    transition-duration: 0s;
    height: inherit;
  }
}

.navbar-btn,
.nav-item {
  border-radius: 5px;
  margin-right: 5px;
  transition-duration: 0s !important;
  background-color: #4245ff;
}

.nav-item:hover {
  background-color: #2b2fff9d !important;
}

body {
  margin: 0;
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    */
  font-family: "Montserrat" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c7efff9c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

.card-body {
  font-family: "Montserrat" !important;
}

.subHeader {
  padding-top: 20px;
}

.appbar-logo {
  height: 60px;
  width: auto;
  z-index: 2;
  margin: -5px 0;
  margin-left: auto;
  float: right;
  margin-right: 5px;
}

.appbar-logo.container {
  float: right;
}


.MuiButton-label {
  color: white;
  font-size: larger;
  text-decoration: none;
  text-transform: none;
  width: 100%
}


.paginationBttns {
  width: 80%;
  height: 40px;
  margin-top: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
  background-color: #ffffff4d;
}

.paginationBttns a:hover {
  color: white !important;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled {
  display: none;
}

.paginationDisabled a:hover {
  color: white;
  background-color: #a7a9fc;
  cursor: default;
}

.bringing-card {
  margin-bottom: 20px;
}

#homeIntro {
  margin-left: 20%;
  margin-right: 20%;
  font-size: large;
  text-align: center;
  background-color: #ffffff3f;
  padding: 10px 10px;
  padding-bottom: -10px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);

}

@media only screen and (max-width: 700px) {
  #homeIntro {
    margin-left: 5%;
    margin-right: 5%;
  }
}

#homeLogo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.potluck-card {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 700px) {
  .potluck-card {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.potluck-card-body {
  padding: 20px;
  padding-bottom: 0px;
}

.bringing-reply-card {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .bringing-reply-card {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.create-potluck-card {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .create-potluck-card {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.navbar-btn {
  margin-right: 10px;
  color: white;
}




@media only screen and (min-width: 769px) {
  .collapsed {
    display: none;
  }
  .notcollapsed {
    display: show;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-btn {
    margin-top: 10px;
    width: 100%;
  }
  .nav-item {
    margin-top: 5px;
  }
  .collapsed {
    display: show;
  }
  .notcollapsed {
    display: none
  }
}

.navbar {
  background-color: #2b2eff;
  color: white;
  padding-top: -20px;
  border-bottom: 1px solid grey;
  margin: 0;
  padding-right: 10%;
  z-index: 4;
  min-height: 10%;
  text-transform: none;
  
}

.navbar-nav {
  padding-left: 10%;
  text-transform: none;
}

@media only screen and (max-width: 992px) {
.navbar, .navbar-nav {
  padding-left: 5%;
  padding-right: 5%
}
}
  

@media only screen and (max-width: 768px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}

.potluckHeader {
  text-decoration: none;
}

.errMess {
  color: red;
}

.MuiSnackbarContent-root {
  background-color: #0d6efd !important;
  border: 2px solid grey;
}

.card {
  border-radius: 10px;
}

.card-header {
  border-radius: 10px 10px 0 0 !important;
}


.MuiButton-containedPrimary, .copyLinkBtn {
  background-color: #2b2eff !important;
  
}

.MuiCheckbox-colorSecondary {
  color: #2b2eff !important
}

.copyLinkBtn {
  margin-left: 10px;
}

.potluckLink {
  color: inherit;
  text-decoration: inherit;
}

.potluckLink :hover {
  color: black;
  text-decoration: inherit;
}

.potluck-container :hover {
  transform: scale(1.005);
  box-shadow: 0px 0px 10px rgba(1,1,1, 0.3);

}

.potluck-container > .card :hover {
  transform: scale(1);
  opacity: 0.9;
  box-shadow: 0px 0px 0px rgb(1,1,1);
}

@media (max-width:767px) {
  .navbar-header {
    display:flex;
  }
}

@media (max-width:767px) {
  .navbar-brand {
    order:1;
  }
}

@media (max-width:767px) {
  .navbar-toggle {
    order:0;
    margin-left:15px;
    margin-right:0;
  }
}


.search-card-hide {
  margin-top: 20px;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 10%;
  width: 30%;

  margin-left: auto;
  display: none
}

.search-card-show {
  margin-top: 20px;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: min(15%, 100px);
  width: 30%;
  min-width: 200px;
  max-width: 90%;
  margin-left: auto;
}

.speeddialBtns {
  color: #2b2eff !important;
  z-index: 1
}

.speeddial, .MuiFab-primary {
  background-color: #2b2eff !important;
  z-index: 1
}

.MuiSpeedDial-root {
  margin-top: 15px;
  position: fixed;
  right: 5%;
}

.searchClose {
  float: right;
  margin-bottom: -10px;
  margin-left: 5px;
  z-index: 2;
}

.behindClose {
  z-index: 0;
  width: 90%
}

.searchClose :hover {
  cursor: pointer;
}

html, body {
  scroll-behavior: smooth;
  height: 100%
}



.dropdownNavlink {
  padding: 0px !important;
  margin: 0px !important;
}

.homeWrapper {
  height: 85vh;
}

.dropdown-menu {
  background-color: #2b2eff;
  padding-bottom: 10px;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  border: none;
  z-index: -2;
}

.dropdown-menu :hover {
  background-color: #2b2eff !important;
}